@font-face {
  font-family: VT323;
  src: url('./fonts/VT323-Regular.ttf');
}

body {
  margin: 0;
  font-family:'Courier New','VT323', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background-color: #101010;
}

